.vscode/**
.vscode-test/**
.gitignore
.ansible/**
vsc-extension-quickstart.md

# Development files
generate_theme.py
color_palettes/
themes/theme-template.json
references/
themes-ideas.md
DEVELOPMENT.md
.opencode/
.claude/
.github/
.mise.toml

# Python files
venv/
.venv/
__pycache__/
*.pyc
requirements.txt
convert_icon.py
.publishertoken
